apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-app-deployment
  namespace: prod
spec:
  replicas: 2
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      containers:
      - name: my-app
        image: 476360959449.dkr.ecr.us-east-1.amazonaws.com/prod/my-app:latest
        ports:
        - containerPort: 8080
