apiVersion: v1
kind: Service
metadata:
  name: my-app-service
  namespace: prod
spec:
  type: NodePort
  selector:
    app: my-app
  ports:
    - port: 80
      targetPort: 8080
      nodePort: 30008
